.dot-pulse {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: var(--ebony);
  color: var(--ebony);
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-pulse::before, .dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-pulse::before {
  left: -12px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: var(--ebony);
  color: var(--ebony);
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-pulse::after {
  left: 12px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: var(--ebony);
  color: var(--ebony);
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: var(--ebony);
  }
  50%,
  100% {
    background-color: var(--mint-cream);
  }
}